@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap");

* {
    box-sizing: border-box;
}

header {
    background-color: #373b69;
    display: flex;
    justify-content: flex-end;
    padding: 1rem;
}

main {
    display: flex;
    flex-wrap: wrap;
}

.movie {
    background-color: black;
    border-radius: 3px;
    box-shadow: 0 4px 5px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    position: relative;
    margin: 1rem;
    width: 295px;
    
}

.movie img {
    width: 100%;
}

.movie-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center; 
}

.movie-info {
    color: white;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: space-between;
    padding-right: 0.5rem;
    padding-left:  0.5rem;
    letter-spacing: 0.5px;
    height: 10%;
}
.movie-date {
    color: white;
    height: min-content;
}

.movie-info, .movie-date h4 {
    text-align: center;
    font-size: 22px;
    font-family: 'Prata', serif;
    margin-top: 10px;
}

.overview {
    background: rgba(0, 0, 0, 0.8);
    color: white;
    font-size: 16px;
    font-family: 'Netflix Sans','Helvetica Neue',Helvetica,Arial,sans-serif; 
    position: absolute;
    height: 100%;
    overflow: auto;
    left: 0;
    bottom: 0;
    right: 0;
    transform: translateY(101%);
    transition: transform .5s ease-in;
}

.overview h6 {
    margin-top: 0;
    font-size: 18px;
    color: #e50914;
    font-family: 'Netflix Sans','Helvetica Neue',Helvetica,Arial,sans-serif;

}

.movie:hover .overview {
    transform: translateY(0);
}

.netflix-sans-font-loaded {
    font-family: 'Netflix Sans','Helvetica Neue',Helvetica,Arial,sans-serif
}
.buy{
    font-family: 'Netflix Sans','Helvetica Neue',Helvetica,Arial,sans-serif;
    color: #fff ;
    font-size: 14.4px;
    background-color: #e50914;
    -webkit-box-shadow: 0 1px 0 rgb(0 0 0 / 45%);
    -moz-box-shadow: 0 1px 0 rgba(0,0,0,.45);
    box-shadow: 0 1px 0 rgb(0 0 0 / 45%);
    padding: 0px 16px;
    box-sizing: border-box;
    text-align: center;
    border: 0;
    border-radius: 2px;
    width:50%;
    height: 7%;


}