@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap");

* {
    box-sizing: border-box;
}

body {
    background-color: #22254b;
    font-family: "Poppins", sans-serif; 
}

header {
    background-color: #373b69;
    display: flex;
    justify-content: flex-end;
    padding: 1rem;
}


main {
    display: flex;
    flex-wrap: wrap;
}

.movie {
    background-color: black;
    border-radius: 3px;
    box-shadow: 0 4px 5px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    position: relative;
    margin: 1rem;
    width: 22%;
}

.movie img {
    width: 100%;
}

.movie-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center
}

.movie-info {
    color: white;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: space-between;
    padding-right: 0.5rem;
    padding-left:  0.5rem;
    letter-spacing: 0.5px;
    height: 10%;
}
.movie-date {
    color: white;
    height: min-content;
}

.movie-info, .movie-date h4 {
    text-align: center;
    font-size: 22px;
    font-family: 'Prata', serif;
    margin: 0;
}

.overview {
    background: rgba(0, 0, 0, 0.8);
    color: white;
    position: absolute;
    height: 100%;
    overflow: auto;
    left: 0;
    bottom: 0;
    right: 0;
    transform: translateY(101%);
    transition: transform 0.3s ease-in;
}

.overview h6 {
    margin-top: 0;
}

.movie:hover .overview {
    transform: translateY(0);
}