.t {
        position: absolute;
        bottom: -119px;
    background: rgba(0, 0, 0, 0.5);
    color: #f1f1f1;
    width: 100%;
    padding:100px;
}
.myVideo{
    width: 100%;
    height: 100%;
}
.myBtn{
    color: brown;
    border:none;
    border-block:none;
    background: bottom;
    font-size: 30px;
    font-style: italic;
    font-family: initial;
}
* {
    box-sizing: border-box;
  }
  
  body {
    margin: 0;
    font-family: Arial;
    font-size: 17px;
  }


  #myDIV {
    position: absolute;
    width: 200px;
    height: 150px;
    background-color: white;
    border: 1px solid black;
    animation: mymove 5s infinite;
  }
  
  
  @keyframes mymove {
    50% {opacity: 0;}
  }